<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form #resetPasswordForm='ngForm' (ngSubmit)="onSubmit(resetPasswordForm)" role="login">
          <img src="../../assets/images/medingenioLogo.png" class="img-responsive" alt="" />
          <input id="email" type="email" class="form-control input-lg" placeholder="Ingrese su correo electrónico" (ngModel)="email"
            name="email" required>
          <br />
          <div class="text-center">
            <button name="go" class="btn btn-success" aria-label="Left Align" (click)="GoBackToLogin()">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i> Regresar
            </button>
            <button type="submit" name="go" class="btn btn-secondary" aria-label="Left Align">Recordar
              <span class="fa fa-envelope" aria-hidden="true"></span>
            </button>
          </div>
        </form>
        <br />
        <p class="alert {{alertClass}} text-center" role="alert" *ngIf="error">
          {{error}}
        </p>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>