<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/home'>
        <img src="../../assets/images/medingenioLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong>Medingenio</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown" placement="bottom-right" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    Perfil
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-user-circle fa-5x"></i>
                                </div>
                                <div class="col-md-8 text-right" *ngIf="auth.user | async as user">
                                    <strong>{{ user.displayName }}</strong>
                                    <div class="mini-profile-email font-italic">
                                        <small>{{ user.email }}</small>
                                    </div>
                                    <button class="btn btn-outline-info btn-block btn-sm">Actualizar Datos</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-md-12">
                                    <button (click)="logOut()" class="btn btn btn-outline-success btn-block btn-sm">Cerrar Sesion</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>




            </li>
        </ul>
    </div>
</nav>