<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)" role="login">
          <img src="../../assets/images/medingenioLogo.png" class="img-fluid login-logo" alt="" />
          <div class="login-message text-right">
            <h6>Bienvenido a
              <a class="alert-link">
                <h4>Medingenio!</h4>
              </a>
            </h6>
          </div>
          <input id="email" name="email" [(ngModel)]="email" type="email" class="form-control" placeholder="Correo electrónico" (focus)="onFocusInput()"
            required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <input id="password" name="password" [(ngModel)]="password" type="password" required class="form-control" placeholder="Contraseña" (focus)="onFocusInput()">
          <div class="text-right">
            <button type="submit" class="btn btn-outline-success btn-block" aria-label="Left Align">
              <small>Ingresar
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </small>
            </button>
            <button class="btn btn-outline-info btn-sm" aria-label="Left Align">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <small>Inicio
              </small>
            </button>
            <button name="go" class="btn btn-outline-info btn-sm" (click)="resetPassword()" aria-label="Left Align">
              <small>Olvide la clave
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
              </small>
            </button>
          </div>
          <div class="login-alert">
            <p class="alert alert-danger text-center" role="alert" *ngIf="error">
              {{error}}
            </p>
          </div>
        </form>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>


