.btn-login{
	width:150px;
}
.btn-login-group{
	padding-top: 10px;
}

 .btn-login-group a {
    color: #ffffff;
} 

.btn-login-reset-group a,
.btn-login-reset-group a:hover{
	text-decoration: none;
	cursor: pointer;
	color:#0069d9
	
} 
