<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" role="login">
          <img src="../../assets/images/medingenioLogo.png" class="img-responsive" alt="" />
          <input id="email" type="email" class="form-control input-lg" placeholder="Correo electrónico" (ngModel)="email" name="email"
            required>
          <input id="password" type="password" class="form-control input-lg" placeholder="Contraseña" (ngModel)="password" name="password"
            required>
          <button type="submit" name="go" class="btn btn-success btn-block" aria-label="Left Align">Ingresar
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
          </button>
          <div class="btn-login-reset-group">
            <small>
              <a (click)="resetPassword()">
                ¿Olvido su Contraseña?
              </a>
            </small>
          </div>
        </form>
        <br />
        <p class="alert alert-danger text-center" role="alert" *ngIf="error">
          {{error}}
        </p>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>